
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Raleway:wght@200&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  display: grid;
}
.container-fluid {
  overflow-x: hidden;
}
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: "";
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  list-style: none;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  list-style: none;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}
li {
  list-style: none;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(./images/1.jpg);
  animation-delay: 2s;
}
.cb-slideshow li:nth-child(2) span {
  background-image: url(./images/9.jpg);
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url(./images/7.jpg);
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url(./images/8.jpg);
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url(./images/1.jpg);
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url(./images/2.jpg);
  animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1) rotate(1deg);
  }
  25% {
    opacity: 0;
    transform: scale(1.1) rotate(1deg);
  }
  100% {
    opacity: 0;
  }
}
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}
.video-div {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}
.btn_video {
  position: absolute;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  border:1px solid #ff9f00;
  border-radius: 10px;
  color: white;
  width: 150px;
  top: 30px;
  left: 300px;
}
.icon-play {
  position: absolute;
  left: 320px;
  top: 43px;
  height: 20px;
  width: 20px;
}
.documenatry {
  color: #fff;
  position: absolute;
  left: 480px;
  top: 40px;
  font-weight: bold;
}
.h4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}
.updates_text {
  text-align: center;
  font-size: medium;
  font-family: 'PT Sans', sans-serif;
}
.btn-homepage {
  position: absolute;
  top: 0;
  left: 100px;
  width: 150px;
  border-radius: 50px;
  margin-top: 400px;
  z-index: 1000;
  background-color: #0b6623;
  padding: 20px;
  font-weight: 500;
  line-height: 15px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.btn-homepage:hover {
  background-color: #ff9f00;
  color: black;
}
.hero_text {
  flex-wrap: nowrap;
  position: absolute;
  top: 100px;
  width: 80%;
  z-index: 1000;
  padding: 1em;
  font-size: 5rem;
  color: #fff;
}
.logo {
  position: absolute;
  margin-left: 50px;
  margin-top: 10px;
}
.logo_comm {
  position: absolute;
  z-index: 10000;
  color: #fff;
  background-color: #0b6623;
  padding: 0.5em;
}
.jaba_style {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-weight: bold;
  /* background-color: #ff9f00; */
  padding: 5px 15px;
}
h3 {
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  color: #0b6623;
  padding: 0.5em;
}
.navbar {
  background-color: #fff;
  height: 90px;
  box-shadow: -5px 3px 17px -1px rgba(0, 0, 0, 0.34);
}
.dropdown-menu {
  position: relative;
  z-index: 10000;
}
a {
  color: #000;
}
.nav-link:hover {
  background-color: #0b6623;
  height: 100% !important;
  width: 100% !important;
  color: #fff !important;
}
.dropdown-item {
  color: #000 !important;
}
.contacts {
  background-color: #ff9f00;
  width: 100%;
  height: 100px;
}
.jaba_nav {
  background-color: #0b6623;
  color: #fff;
  padding: 10px 15px;
}
.icon {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-right: 5px;
}
.icon_text {
  margin-right: 100px;
}
.member_cta_background {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/jaba4.jpg");
  background-size: cover;
  background-position: 50%, 40%;
  background-attachment: fixed;
  height: auto;
  width: 100%;
  z-index: -1;
  padding-bottom: 20px;
}

.cta_text {
  color: #ff9f00;
  width: 50%;
  margin-bottom: 30px;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: normal;
  padding: 20px;
  flex-wrap: nowrap;
}
.cta_subtext {
  font-size: 0.89rem;
  width: 50%;
  padding: 20px;
  flex-wrap: nowrap;
  color: #fff;
  margin-top: -53px;
}
.btn_cta {
  border: none;
  border-radius: 50px;
  margin: 20px;
  padding: 10px;
  width: 170px;
  margin-top: -12px;
  background-color: #ff9f00;
  text-transform: uppercase;
  transition: all 1s ease-out;
}
.btn_cta:hover {
  background-color: #0b6623;
  color: #fff;
}
.image_icon {
  height: 50px;
  width: 50px;
}

.citi {
  font-family: "Raleway", sans-serif;
  padding: 2px;
  color: #000;
  font-style: italic;
}
.testimotionals {
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.testimotionals .card {
  position: relative;
  overflow: hidden;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
.testimotionals .card:hover {
  z-index: 1;
  top: calc(100% - 2px);
  height: 100%;
  width: 100%;
  left: 0;
  color: #fff;
  transition: 0.7s;
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.testimotionals .card .content {
  z-index: 2;
}

.testimotionals .card:hover .layer {
  top: 0;
}

.testimotionals .card .content p {
  font-size: 20px;
  word-break: break-all;
  line-height: 34px;
  color: #000;
}

.testimotionals .card:hover .content .details h2 span {
  color: white;
}
.btn-download {
  background-color: #ff9f00;
  border-radius: 50px;
  width: 100%;
  border: none;
  padding: 10px;
  font-weight: bold;
}
.covid_update {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/covid2.jpg");
  background-position: right center;
  background-size: cover;
  height: 50vh;
  margin-bottom: 60px;
  margin-top: 40px;
}
.covid_news {
  font-size: 3rem;
  color: #fff;
  font-weight: 800;
  padding-top: 60px;
  text-align: center;
}
.covid_subnews {
  color: #fff;
  text-align: center;
}

.container-update {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card_two {
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 32.33%;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}
.btn_card {
  width: 50%;
  padding:10px;
  border:none;
  border-radius: 20px;
}
/* .btn-pink {
  background-color: #cd5b9f;
}
.btn-purple {
  background-color: #5e76bf;
}
.btn-teal {
  background-color: #47bcd4;
} */
.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: all 2s ease-in-out;
}

.update_img-1 {
  position: relative;
  background-image: url("./images/jaba4.jpg");
  background-size: cover;
  background-position: center;
  background-color: #0b6623;
  width: 100%;
  height: 50vh;
  padding: 0;
  margin: 0;
}
.update_img-2{
  position: relative;
  background-image: url("./images/jaba6.jpg");
  background-size: cover;
  background-position: center;
  background-color: #000;
  width: 100%;
  height: 50vh;
  padding: 0;
  margin: 0;
}
.dates {
  position: absolute;
  top: 80%;
  left: 20px;
  right: 0;
  bottom: 0;
}
.date, .day {
  color: white;
}
.date {
  font-size: 9px;
}

.day{
font-family: 'Times New Roman', Times, serif;
font-weight: normal;
font-size: 15px;
letter-spacing: 3px;
margin-top: -15px;
}

.social-wrapper {
  width: 100%;
  height: auto;
  padding: 30px;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}
.social-text {
  text-align: center;
  color: white;
  font-weight: bold;
  padding:50px;
  font-size: 2em;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.social-icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  transition: all 2s ease-in-out;
}
.social-icon:hover {
  transform: scale(1.3);
}
.social-icon_1 {
  height: 20px;
  width: 20px;
}
.div_10{
  background-image: url("./images/jaba1.jpg");
  background-size: cover;
  background-position: 20% 10%;
  background-attachment: fixed;
  height: 30vh;
}
.box{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.card_four{
  position: relative;
  width: 100%;
  height: 450px;
  background: #fff;
  margin-top: 40px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.card_four:before,
.card_four:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.card_four:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card_four:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card_four .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.card_four:hover .imgBx
{
  bottom: 80px;
}

.card_four .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_four .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card_four .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 16px;
 color: #777;
 text-transform: uppercase;
} 

.card_four .details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
margin-top: 5px;
 } 
 .footer {
  display: flex;
  margin-top: 40px;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #222;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  color: #ff9f00;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
  color: #ff9f00;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: #ff9f00;
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 {
    font-size: 140px;
  }
}
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 80px;
  }
  .hero_text {
    top: 150px;
    font-size: 2.7em;
    left: 41px;
    text-align: center;
  }
  .btn-homepage {
    top: -23px;
    left: 117px;
  }
  .contacts {
    display: none;
  }

  h2,
  .cta_text {
    font-size: 1.5em;
    width: 100%;
  }
  .cta_subtext {
    font-size: 1em;
    width: 100%;
  }
  .covid_update {
    width: 100%;
    height: 50vh;
  }
  .covid_subnews {
    font-size: 1em;
    width: 100%;
    padding: 0px 10px;
    top: 93px;
    text-align: center;
  }
  .covid_news {
    font-size: 1.5em;
    left: 0;
    text-align: center;
  }
  .logo {
    margin-left: 95px;
    margin-top: 23px;
  }
  .logo_comm {
    padding: 0.5em;
  }
  .jaba_style {
    padding: 2px;
  }
  .update_img-2{
 display: none;
  }
  .wrapper-two {
    display: none;
  }
  .video-div {
    display: none;
  }
}
