@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: "";
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  list-style: none;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  list-style: none;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}
li {
  list-style: none;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(./images/7.jpg);
}
.cb-slideshow li:nth-child(2) span {
  background-image: url(./images/8.jpg);
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url(./images/9.jpg);
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url(./images/4.jpg);
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url(./images/1.jpg);
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url(./images/2.jpg);
  animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1) rotate(1deg);
  }
  25% {
    opacity: 0;
    transform: scale(1.1) rotate(1deg);
  }
  100% {
    opacity: 0;
  }
}
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}


.btn-homepage {
  position: absolute;
  top: 0;
  left: 195px;
  width: 150px;
  border-radius: 0px;
  margin-top: 400px;
  z-index: 1000;
  background-color: #0b6623;
  padding: 20px;
  font-weight: 500;
  line-height: 15px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.btn-homepage:hover {
  background-color: #ff9f00;
  color: black;
}
.hero_text {
  flex-wrap: nowrap;
  position: absolute;
  top: 100px;
  width: 80%;
  z-index: 1000;
  padding: 1em;
  font-size: 5rem;
  color: #fff;
}
.logo {
  position: absolute;
  margin-left: 50px;
  margin-top: 10px;
}
.logo_comm {
  position: absolute;
  z-index: 10000;
  color: #fff;
  background-color: #0b6623;
  padding: 0.5em;
}
.jaba_style {
  font-family: "Ubuntu", sans-serif;
  color: green;
  background-color: #ff9f00;
  padding: 5px 15px;
}
h3 {
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  color: #0b6623;
  padding: 0.5em;
}
.navbar {
  background-color: #fff;
  height: 90px;
  box-shadow: -5px 3px 17px -1px rgba(0, 0, 0, 0.34);
}
a {
  color: #0b6623 !important;
}
.nav-link:hover {
  background-color: #0b6623;
  height: 100% !important;
  width: 100% !important;
  color: #fff !important;
}
.dropdown-item {
  color: #000 !important;
}
.contacts {
  background-color: #ff9f00;
  width: 100%;
  height: 100px;
}
.jaba_nav {
  background-color: #0b6623;
  color: #fff;
  padding: 10px 15px;
}
.icon {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-right: 5px;
}
.icon_text {
  margin-right: 150px;
}
.member_cta_background {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/bg2.jpg");
  background-size: cover;
  background-position: 50%, 40%;
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}

h2,
.cta_text {
  color: #ff9f00;
  width: 70%;
  font-size: 3rem;
  text-align: justify;
  font-weight: bold;
  padding: 20px;
  flex-wrap: nowrap;
}
.cta_subtext {
  font-size: 1rem;
  width: 50%;
  padding: 20px;
  flex-wrap: nowrap;
  color: #fff;
  margin-top: -53px;
}
.btn_cta {
  border: none;
  margin: 20px;
  padding:10px;
  width: 170px;
  margin-top: -12px;
  background-color: #ff9f00;
  text-transform: uppercase;
  transition: all 1s ease-out;
}
.btn_cta:hover {
  background-color: #0b6623;
  color: #fff;
}



.citi {
  font-family: 'Raleway', sans-serif;
  background-color: #ff9f00;
  padding: 2px;
  color: #000;
  font-style: italic;
}
.testimotionals {
  height: 200px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.testimotionals .card {
  position: relative;
  overflow: hidden;
  background: #000;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
.testimotionals .card .layer {
  z-index: 1;
  top: calc(100% - 2px);
  height: 100%;
  width: 100%;
  left: 0;
  background: linear-gradient(to left, #0b6623, #0b6623);
  transition: 0.5s;
}

.testimotionals .card .content {
  z-index: 2;
}

.testimotionals .card:hover .layer {
  top: 0;
}

.testimotionals .card .content p {
  font-size: 30px;
  line-height: 34px;
  color: #fff;
}

.testimotionals .card .conte nt .details button {
  font-size: 18px;
  color: white;
}

.testimotionals .card:hover .content .details h2 span {
  color: white;
}
.btn-download {
  background-color: #ff9f00;
  width: 100%;
  border:none;
  padding: 10px;
  font-weight: bold;
}
.covid_update {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/covid2.jpg");
  background-position: right center;
  background-size: cover;
  height: 50vh;
  margin-bottom: 60px;
  margin-top: 40px;
}
.covid_news {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  top: 20px;
  right: 0;
  left: auto;
}
.covid_subnews {
  position: absolute;
  color: #fff;
  top: 150px;
  right: 0;
  left: auto;
  width: 55%;
}
@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 {
    font-size: 140px;
  }
}
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 80px;
  }
  .hero_text {
    top: 150px;
    font-size: 2.2em;
  }
  .btn-homepage {
    top:-80px;
    left:50px
  }
  .contacts {
    display: none;
  }

  h2,
  .cta_text {
    width: 80%;
  }
  .cta_subtext {
    width: 80%;
  }
  .covid_update  {
    width: 100%;
    height: 50vh;
  }
  .covid_subnews {
    font-size: 1em;
    width: 100%;
    padding: 0px 10px;
    top: 93px;
    text-align: center;
}
  .covid_news {
    font-size: 1.5em;
    left: 0;
    text-align: center;
  }
}

